# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
dist

# IDE
.idea

# OS
.DS_Store

# Tests
.nyc_output

# Environment
.env

# Remove this after figuring out how to obfuscate local AWS resources
config/local.json
